{{define "title"}}signup{{end}}
{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}
{{define "content"}}
<div class="auth-box">
  <div class="auth-form-box">
    <form action="/kari-registration" method="post">
      <input type="hidden" name="_csrf" value="{{.csrfToken}}">
  
      <div class="auth-input-box">
        <div class="auth-input"><p>username</p><input type="text" name="username" required="required" maxlength="30" class="a-input">{{.username}}{{.username_status}}</div>
        <div class="auth-input"><p>email</p><input type="text" name="email" required="required" maxlength="255" class="a-input">{{.email}}{{.bad_email}}{{.email_status}}</div>
        <div class="auth-input"><p>password</p><input type="password" name="password" required="required" maxlength="30" class="a-input"></div>
      </div>
      <div class="auth-button"><input type="submit" value="signup"></div>
    </form>
  </div>
</div>
{{end}}