.top-content{
    margin: 0 5px 0 5px;
    z-index: 3;
}

.product-flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    width: 302px;
    height: 250px;
    border: 1px solid gray;
    margin: 10px;
}