.top-content{
    margin: 0 5px 0 5px;
    z-index: 3;
}

.product-flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    width: 302px;
    height: 250px;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(250, 250, 250);
    margin: 10px;
    box-shadow: 0 0 6px rgb(100, 100, 100);

}
.top-content-title{
    border-bottom: 1px solid gray;
    margin: 10px 5px 10px 5px;
}

.top-content-title p{
    font-size: 20px;
    padding-left: 5px;
}

@media (max-width: 799px) {
    .product-box {
        width: 152px;
        height: 125px;
        border: 1px solid rgb(190, 190, 190);
        margin: 10px;
    }
    img.product-img {
        width: 150px;
        height: 100px;
        
    }

    img.soldout-img{
        width: 80px;
        height: 80px;
        position:absolute;
    }
    .product-name p {
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }
    .product-amount p {
        font-size: 10px;
    }
}

.product-img {
    width: 300px;
    height: 200px;
    
    
}
.soldout-img{
    width: 150px;
    height: 150px;
    position:absolute;
}

.product-name p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
