{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<div class="cart-product-flex-box">
    {{ $csrfToken := .csrfToken }}
    {{range .products}}
    <div class="cart-product-box">
      <!--
      <img src="../static/img/item/productid{{.Id}}/*" alt="">
      -->
      <div class="cart-product-name"><a href="/product/{{.Id}}">{{.ItemName}}</a></div>
      <div class="cart-product-description">説明：{{.Description}}</div>
      <div class="cart-product-amount">価格：{{.Amount}}円　＋　消費税</div>
      <form action="/delete-cart" method="post">

        <input type="hidden" name="_csrf" value="{{$csrfToken}}">
        <input type="hidden" name="delete_item" value="{{.Id}}">
        <input type="submit" value="カートから削除">
      </form>
    </div>
    {{end}}
</div>
  
{{end}}