{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<div class="mypage-box-flex">
  <div class="mypage-box mypage-flex-select">
    <a href="/personal-information"><div class="mypage-select select-personal-information"><p>個人情報</p></div></a>
    <a href="/mycart"><div class="mypage-select select-mycart" style="background-color: rgb(255, 231, 185);"><p>カート</p></div></a>
    <a href="/purchase-history"><div class="mypage-select select-purchase-history"><p>購入履歴</p></div></a>
    <a href="/registered-items"><div class="mypage-select select-registered-items"><p>登録した商品</p></div></a>
    <a href="/sell-items-form"><div class="mypage-select select-sell-items-form"><p>商品登録フォーム</p></div></a>
  </div>
  <div class="mypage-box mypage-content">
    <div class="mypage-title"><p>My カート</p></div>
    <div class="cart-product-flex-box">
      {{ $csrfToken := .csrfToken }}
      {{range .products}}
      <div class="cart-product-box">
        <div class="cart-img"><a href="/product/{{.Id}}"><img src="../static/img/item/productid{{.Id}}/1.jpg" alt="" ></a></div>
        <div class="cart-p-detail">
          <div class="cart-product-name"><a href="/product/{{.Id}}">{{.ItemName}}</a></div>
          <div class="cart-product-amount"><p>税込み価格：{{.Amount}}円</p></div>
          <form action="/delete-cart" method="post">
            <input type="hidden" name="_csrf" value="{{$csrfToken}}">
            <input type="hidden" name="delete_item" value="{{.Id}}">
            <input type="submit" value="カートから削除">
          </form>
        </div>
      </div>
      {{end}}
    </div>
    <div class="mypage-title"><p>小計</p></div>
    <div class="mycart-subtotal">
      <p>商品数：個</p>
      <p>合計価格(税込)：￥{{.totalAmount}}</p>
    </div>
    <form action="/checkout" method="post">
      <input type="hidden" name="_csrf" value="{{$csrfToken}}">
      <input type="hidden" name="totalAmount" value="{{.totalAmount}}">
      {{range .products}}
        <input type="hidden" name="item" value="{{.Id}}">
      {{end}}
      <input type="submit" value="まとめて購入">
    </form>
  </div>
</div>

  
{{end}}