{{define "title"}}{{.title}}{{end}}

{{define "content"}}
  <div class="mypage-box-flex">
    <div class="mypage-box mypage-flex-select">
      <a href="/personal-information"><div class="mypage-select select-personal-information"><p>個人情報</p></div></a>
      <a href="/mycart"><div class="mypage-select select-mycart"><p>カート</p></div></a>
      <a href="/purchase-history"><div class="mypage-select select-purchase-history"><p>購入履歴</p></div></a>
      <a href="/registered-items"><div class="mypage-select select-registered-items"><p>登録した商品</p></div></a>
      <a href="/sell-items-form"><div class="mypage-select select-sell-items-form"><p>出品登録フォーム</p></div></a>
    </div>
    <div class="mypage-box mypage-content">
      <div class="mypage-title"><p>ユーザー情報</p></div>
      <div class="user-info-mypage">
        <div class="my-username my-user-info"><p>ユーザー名：{{.username}}</p></div>
        <div class="my-email my-user-info"><p>Eメール：{{.email}}</p></div>
      </div>
    </div>
  </div>
  
  
{{end}}