{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
  <a href="/mycart">カート</a><br><br><br>
  <a href="/purchase-history">購入履歴</a><br><br><br>
  <a href="/registered-items">登録済商品一覧</a><br><br><br>
  <a href="/sell-items-form">商品登録フォーム</a><br><br><br>
  <a href="/create-an-express-account">Stripeアカウントリンク</a>
{{end}}