{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
    <li class="nav__item"><a href="/loginform">ログイン</a></li>
    <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
  <div class="mypage-box-flex">
    <div class="mypage-box mypage-flex-select">
      <a href="/personal-information"><div class="mypage-select select-personal-information" style="background-color: rgb(240, 240, 240);"><p>個人情報</p></div></a>
      <a href="/mycart"><div class="mypage-select select-mycart"><p>カート</p></div></a>
      <a href="/purchase-history"><div class="mypage-select select-purchase-history"><p>購入履歴</p></div></a>
      <a href="/registered-items"><div class="mypage-select select-registered-items"><p>登録した商品</p></div></a>
      <a href="/sell-items-form"><div class="mypage-select select-sell-items-form"><p>商品登録フォーム</p></div></a>
    </div>
    <div class="mypage-box mypage-content">
      <div class="mypage-title"><p>お届け先</p></div>
      <div class="personal-info-box">
        <div class="personal-info"><p>お名前：{{.kanji_f_name}}{{.kanji_l_name}}</p></div>
        <div class="personal-info"><p>フリガナ：{{.kana_f_name}}{{.kana_l_name}}</p></div>
        <div class="personal-info"><p>郵便番号：{{.postal_code}}</p></div>
        <div class="personal-info"><p>都道府県：{{.address_level1}}</p></div>
        <div class="personal-info"><p>市区町村：{{.address_level2}}</p></div>
        <div class="personal-info"><p>番地：{{.address_line1}}</p></div>
        <div class="personal-info"><p>建物名・部屋番号：{{.address_line2}}</p></div>
        <div class="personal-info"><p>会社名：{{.organization}}</p></div>
      </div>
      <form action="/personal-information-input">
        <input type="submit" value="編集">
      </form>
    </div>
  </div>
  
  
{{end}}