{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
  <div class="mypage-box-flex">
    <div class="mypage-box mypage-flex-select">
      <a href="/personal-information"><div class="mypage-select select-personal-information"><p>個人情報</p></div></a>
      <a href="/mycart"><div class="mypage-select select-mycart"><p>カート</p></div></a>
      <a href="/purchase-history"><div class="mypage-select select-purchase-history" style="background-color: rgb(240, 240, 240);"><p>購入履歴</p></div></a>
      <a href="/registered-items"><div class="mypage-select select-registered-items"><p>登録した商品</p></div></a>
      <a href="/sell-items-form"><div class="mypage-select select-sell-items-form"><p>商品登録フォーム</p></div></a>
    </div>
    <div class="mypage-box mypage-content">

      <div class="mypage-title"><p>購入した商品</p></div>
      <p style="margin: 5px 0 5px 5px; color: gray">
        商品が到着したら、「到着完了」ボタンを押してください。
      </p>
      <div class="user-product-flex-box">
        {{ $csrfToken := .csrfToken }}
        {{range .products}}
        <div class="user-product-box">
          <div class="user-product-img"><img src="../static/img/item/productid{{.Id}}/1.jpg"  width="120px" height="80px" alt=""></div>
          <div class="user-product-details">
            <div class="user-product-name">{{.ItemName}}</div>
            <!---
            <div class="user-product-description">説明：{{.Description}}</div>
            -->
            <div class="user-product-amount">価格：{{.Amount}}円＋消費税</div>
            {{if .Arrival}}
              <p style="color: red;">到着済</p>
            {{else}}
              <form action="/arrival-success" method="post">
                <input type="hidden" name="_csrf" value="{{$csrfToken}}">
                <input type="hidden" name="productid" value="{{.Id}}">
                <input type="submit" value="到着完了">
              </form>
            {{end}}
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
{{end}}