{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
  {{else}}
    <li class="nav__item"><a href="/loginform">ログイン</a></li>
    <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<div class="user-product-flex-box">
  {{range .products}}
  <div class="user-product-box">
    <!--
    <img src="../static/img/item/productid{{.Id}}/*" alt="">
    -->
    <div class="user-product-name">{{.ItemName}}</div>
    <div class="user-product-description">説明：{{.Description}}</div>
    <div class="user-product-amount">価格：{{.Amount}}円　＋　消費税</div>
  </div>
  
  {{end}}
</div>
  
{{end}}