{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
  {{else}}
    <li class="nav__item"><a href="/loginform">ログイン</a></li>
    <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<h1>Signup</h1>
<form action="/itemregist" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="{{.csrfToken}}">
  <div>
    <p>商品名</p><input type="text" name="itemname" required="required" maxlength="100">
    <p>商品説明</p><textarea name="item-description" cols="30" rows="10" maxlength="500" required="required"></textarea>
    <p>商品価格</p><input type="number" name="price" required="required" maxlength="10"><p>円</p>
    <p>商品画像</p><input type="file" name="image" required="required">

  </div>
  <div><input type="submit" value="登録"></div>
</form>
{{end}}