{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
  {{else}}
    <li class="nav__item"><a href="/loginform">ログイン</a></li>
    <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<h1>お客様情報</h1>
  <form action="/registration" method="post">
    <input type="hidden" name="_csrf" value="{{.csrfToken}}">

    <div>
      <p>お名前</p><p>必須</p>
      <p>姓</p><input type="text" name="fname" required="required" maxlength="50">
      <p>名</p><input type="text" name="lname" required="required" maxlength="50">

      <p>電話番号</p><p>必須</p>
      <input type="tel" name="tell" required="required" maxlength="15">
      
      <p>住所</p><p>必須</p>      
    </div>
    <div><input type="submit" value="signup"></div>
</form>
{{end}}