<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{template "title" .}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/reset.min.css" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/header-3.css" />
    <link rel="stylesheet" href="../static/css/top.css" />
    <link rel="stylesheet" href="../static/css/product-page.css" />
    <link rel="stylesheet" href="../static/css/mypage.css" />
    <link rel="stylesheet" href="../static/css/cart.css" />
    <link rel="stylesheet" href="../static/css/ragisted-item.css" />
    <link rel="stylesheet" href="../static/css/sell-item.css" />
    <link rel="stylesheet" href="../static/css/personal-information-input.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="/" class="brand">サービス名</a>
        </div>
        <div class="site-header__end">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              {{template "navitem" .}}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="content">
      <div class="content__wrapper">
        {{template "content" .}}
      </div>
    </div>

    <script src="../static/js/header-3.js"></script>

  </body>
</html>