<head>
    <title>Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="../static/js/checkout.js" />
    <link rel="stylesheet" href="../static/js/status.js" />
</head>
<form id="payment-form" data-secret="{{ .ClientSecret }}" data-pk="{{ .pk }}">
    <div id="payment-element">
      <!-- Elements will create form elements here -->
    </div>
  
    <button id="submit">Submit</button>
    <div id="error-message">
        <!-- Display error message to your customers here -->
    </div>
</form>