{{define "title"}}login{{end}}
{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}
{{define "content"}}
  <h1>Login</h1>
  <form action="/login" method="post">
    <input type="hidden" name="_csrf" value="{{.csrfToken}}">

    <div>
        <p>username</p><input type="text" name="username">
        <p>password</p><input type="password" name="password">
    </div>
    <div><input type="submit" value="LOGIN"></div>
  </form>
{{end}}