{{define "title"}}{{.title}}{{end}}

{{define "content"}}
<div class="product-p-title"><p>商品</p></div>
<div class="product-content-flex">
  <div class="p-page-detail product-img-box" id="">
    <a href="/image/{{.ProductId}}">
      <img src="../static/img/item/productid{{.ProductId}}/1.jpg"  alt="" class="product-img-content" style="vertical-align: top;" id="product-img-c">
    </a>
  </div> 
  <div class="p-page-detail product-detail">
    <div class="item-page-detail item-name"><p style="font-size: 22px;">{{.ItemName}}</p></div>
    <div class="item-page-detail item-description">
      <p style="color: rgb(138, 138, 138); font-weight: 400; font-size: 20px; margin-bottom: 5px;">商品説明</p>
      <p style="margin-bottom: 3px;">{{.Description}}</p>
    </div>
    <div class="item-page-detail item-amount"><p>価格：￥{{.Amount}} (税込み)</p></div>
    <div class="item-page-detail seller-name"><p>出品者：{{.ProductUsername}}</p></div>
    
    <div class="item-page-detail add-cart-box">
      <p style="font-size: 12px; color: rgb(100, 100, 100);">カートに追加後、<a href="/mycart" style="color: dodgerblue;">カートページ</a>でまとめて購入できます。</p>
      {{if .cart}}
        <p style="font-size: 12px; color: rgb(255, 0, 0); margin: 10px 0;">カートに追加済です。</p>
      {{else}}
        <form action="/addcart" method="post">
          <input type="hidden" name="_csrf" value="{{.csrfToken}}">
          <input type="hidden" name="cart" value="{{.ProductId}}">
          <input type="submit" value="カートに追加" class="add-cart-submit">
        </form>
      {{end}}
      
    </div>
    
  </div>
</div>


{{end}}

