{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<div class="product-content-flex">
  <div class="product-img-box">
    <img src="../static/img/item/productid{{.ProductId}}/1.jpg" alt="" class="product-img-content">
  </div> 
  <div class="product-detail">
    <div class="item-page-detail item-name"><p>{{.ItemName}}</p></div>
    <div class="item-page-detail item-description"><p>{{.Description}}</p></div>
    <div class="item-page-detail item-amount"><p>価格：{{.Amount}}</p></div>
    <div class="item-page-detail seller-name"><p>出品者：{{.ProductUsername}}</p></div>
    <form action="/addcart" method="post">
      <input type="hidden" name="_csrf" value="{{.csrfToken}}">
      <input type="hidden" name="cart" value="{{.ProductId}}">
      <input type="submit" value="カートに追加" class="add-cart-submit">
    </form>
  </div>
</div>
{{end}}

