{{define "title"}}{{.title}}{{end}}

{{define "content"}}
<div class="input-box">
    <div class="p-c-c">
        <div class="p-c-t"><p>購入情報</p></div>
        <p style="margin: 10px 10px 3px 10px; color: rgba(34, 34, 34, 0.5);">
            
        </p>
        <form action="/checkout" method="post">
            <div class="p-c-flex">
                <div class="p-c-products">
                    {{range .products}}
                        <input type="hidden" name="item" value="{{.Id}}">
                        <div class="p-c-product-flex-box">
                            <div class="p-c-img"><img src="../static/img/item/productid{{.Id}}/1.jpg" alt="" style="vertical-align: top;" ></div>
                            <div class="p-c-details">
                                <div class="p-c-p-name">
                                    <p>商品名：{{.ItemName}}</p>
                                </div>
                                <div class="p-c-p-amount">
                                    <p>税込価格：￥{{.Amount}}</p>
                                </div>
                            </div>
                            
                        </div>
                    {{end}}
                </div>
                <div class="p-c-totalamount" style="border-bottom: 1px solid gainsboro;">
                    <p style="margin-bottom: 2px;">合計価格：税込み￥{{.totalAmount}}</p>
                </div>
                <div style="margin: 10px 10px 0 10px;"><p>規約</p></div>
                <div class="agreement" style="margin: 0 10px 10px 10px; border: 1px solid gainsboro;">
                    <object data="../static/txt/agreement.txt" type="text/plain" style="width: 100%;"></object>
                </div>
                <div class="p-c-checkbox">
                    <p>規約に同意</p>
                    <input type="checkbox" required="required">
                </div>
                <input type="hidden" name="_csrf" value="{{.csrfToken}}">
                <input type="hidden" name="totalAmount" value="{{.totalAmount}}">
                <div class=" p-c-submit">
                    <input type="submit" value="購入">
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}