{{define "title"}}{{.title}}{{end}}

{{define "content"}}
<div class="top-content">
  <div class="top-content-title"><p>検索</p></div>
  <div class="top-category-search">
    <form action="" method="post">
      <input type="hidden" name="_csrf" value="{{.csrfToken}}">
      <div class="top-category-checkbox-flex">
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="絵画"><p>絵画　件</p></div>
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="版画"><p>版画　件</p></div>
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="彫刻"><p>彫刻　件</p></div>
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="オブジェ"><p>オブジェ　件</p></div>
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="工芸"><p>工芸　件</p></div>
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="写真"><p>写真　件</p></div>
        <div class="top-category-checkbox"><input type="checkbox" name="checkbox" value="その他"><p>その他　件</p></div>
      </div>
      <div class="top-price-search">
        <p>価格上限</p>
        <select name="f">
          <option value="none">設定なし</option>
          <option value="10000">￥10000</option>
          <option value="100000">￥100000</option>
          <option value="none">￥500000</option>
          <option value="none">￥1000000</option>

        </select> 〜 
        <select name="l">
          <option value="none">設定なし</option>
          <option value="10000">￥10000</option>
          <option value="100000">￥100000</option>
          <option value="none">￥500000</option>
          <option value="none">￥1000000</option>
        </select>
      </div>
      <div>
        <input type="submit" value="検索">
      </div>
    </form>
  </div>
  <div class="top-content-title"><p>新着アイテム</p></div>
  <div class="product-flex-box">
    {{range .products}}
    <a href="/product/{{.Id}}">
      <div class="product-box">
        <div class="product-hover"></div>
        {{if eq .SoldOut "1"}}
          <div class="product-img-box-top">
            <img src="../static/img/SOLD OUTのラベルアイコン素材 2.svg" alt="" class="soldout-img">
            <img src="../static/img/item/productid{{.Id}}/1.jpg" alt="" class="product-img">
          </div>
        {{else}}
          <div class="product-img-box-top">
            <img src="../static/img/item/productid{{.Id}}/1.jpg" alt="" class="product-img">
          </div>
        {{end}}
        <div class="product-name"><p>{{.ItemName}}</p></div>
        <!--
        <div class="product-description"><p>説明：{{.Description}}</p></div>
        -->
        <div class="product-amount"><p>￥{{.Amount}}</p></div>
      </div>
    </a>
    {{end}}
  </div>
</div>
{{end}}