{{define "title"}}{{.title}}{{end}}

{{define "navitem"}}
  {{if .login}}
    <li class="nav__item"><a href="/logout">ログアウト</a></li>
    <li class="nav__item"><a href="/mypage/{{.username}}">マイページ</a></li>
  {{else}}
  <li class="nav__item"><a href="/loginform">ログイン</a></li>
  <li class="nav__item"><a href="/signupform">会員登録</a></li>
  {{end}}
{{end}}

{{define "content"}}
<div class="top-content">
  <div class="product-flex-box">
    {{range .products}}
    <a href="/product/{{.Id}}">
      <div class="product-box">
        <img src="../static/img/item/productid{{.Id}}/1.jpg" alt="" width="300" height="200">
        <div class="product-name"><p>タイトル：{{.ItemName}}</p></div>
        <!--
        <div class="product-description"><p>説明：{{.Description}}</p></div>
        -->
        <div class="product-amount"><p>税抜き価格：{{.Amount}}円</p></div>
      </div>
    </a>
    {{end}}
  </div>
</div>
{{end}}